* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    /*background: url("background.jpg");*/
    background: rgba(9, 8, 8, 0.97)
}

.overlay{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* log in/signup box */
.signupbox{
    width: 350px;
    height: 550px;
    background: rgba(16, 32, 57, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* Buttons */
.btn {
    width: 180px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}


/* Hover effects */
.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}